<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../assets/main.css">
</head>
<body>
        <h3>Welcome to the second reinforcement</h3>

    <div id="todo-table">
            <form>
                    <div>
                        <input type="text" name="nitem" placeholder="new item ...">
                        <button type="submit">Add</button>
                    </div>
                </form>
                <ul>
                        <% data.forEach(element => { %>
                            <div id="<%= element.id%>">
                                    <li><%=element.text%></li>
                                    <button class="delete">delete</button>
                            </div>
                        <% }) %>
                </ul>
    </div>
    

    <script src="../assets/ajax.js"></script>
</body>
</html>